<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>i-class微课程在线学习登录</title>
    <link type="text/css" rel="stylesheet" href="../js/jquery-easyui-1.5.3/themes/default/easyui.css"/>
    <link type="text/css" rel="stylesheet" href="../js/jquery-easyui-1.5.3/themes/icon.css"/>
    <link type="text/css" rel="stylesheet" href="../styles/main.css"/>
</head>
<body class="loginBody">
<div class="logoImg">
<img src="img/logoImg.png"/>
</div>
<div class="loginText">i-class微课程在线学习管理平台</div>
<div class="loginBox">
    <span><img src="img/user.png"/> </span>
    <input type="text" id="userName" placeholder="请输入用户名"/>
    <span><img src="img/pass.png"/> </span>
    <input type="password" id="password" placeholder=" 请输入密码"/>
    <button id="login_button">登录</button>
</div>
<div class="loginFoot">版本所有@2018-2019天然科技有限公司</div>

<script src="../js/jquery-easyui-1.5.3/jquery.min.js"></script>
<script src="../js/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
<script src="../js/jquery-easyui-1.5.3/locale/easyui-lang-zh_CN.js"></script>
<script src="../js/login.js"></script>
</body>
</html>
